*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-size: 62.5%;/* 1 rem = 10px (100% = 16px) */
}

body{
    font-size: 1.4rem;/* soit 14px*/
    font-family: arial;
}

h1{
    padding: 150px;
    text-align: center;
    color : mediumblue;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-color: #000;
}

.btn{
    padding: 2rem;
    margin-top: 0.5rem;
    width: 100%; /* largeur de mon boutton Abonnez-vous à 100% de mon .bloc-central */

    background-color: #CC0000;
    border: none;

    color: #fff;
    font-size: large;
    font-weight:bold;
}

.abonne{
    width: 100%; /* largeur de mon boutton Abonné à 100% de mon .bloc-central */
    background-color: blue;
}