

header_1 {
    display: flex;
    width: 100%;
    min-width: 280px;
    height: auto;
    flex-direction: row;
    justify-content: center;
    margin: 0%;
    background-color: rgb(117, 241, 117);
    padding: 0px 0px 0px 0px;
    
}





header_2 {
    display: flex;
    width: 100%;
    min-width: 280px;
    height: 50px;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    margin: 0%;
    background-color: rgb(235, 100, 100);
    padding: 20px 0px 0px 0px;
    
}








/*  ==================================
    ==      Adaptation media        ==
    ==================================*/

@media screen and (max-width: 768px){


    header_1 {
        display: flex;
        width: 50%;
        min-width: 280px;
        height: auto;
        flex-direction: row;
        justify-content: center;
        margin: 0%;
        background-color: rgb(117, 241, 117);
        padding: 0px 0px 0px 0px;
        
    }




    header_2 {
        display: flex;
        width: 50%;
        height: auto;
        background-color: rgb(243, 247, 179);
}

    .menu {
        display: flex;
        flex-direction: column;
        align-content: space-around;


    }




/* ====== FIN MEDIA SCREEN ======*/
}